In [27]:
import pandas as pd
import numpy as np
import csv

In [4]:
rbc_results = pd.read_csv('../data/rbc_fullsample_0.05_results.csv')

In [5]:
rbc_results

,Unnamed: 0,exo_states,endo_states,controls,valid,mean_pval,max_pval,min_pval,loglik,bic,aic,mse,nstates,nexo,nendo
0,520,"['z', 'g']",['k'],"['y', 'c', 'l', 'r', 'w', 'i']",True,0.974318,1.0,0.200263,6.050694e+06,-1.210037e+07,-1.210121e+07,1.513836,3,2,1

In [50]:
rbc_wins = pd.read_csv('../data/rbc_100_0.05_1000iter_wins.csv')
rbc_wins['exostates'] = rbc_wins['exo_states'].apply(lambda x: '   '.join(x.split('_')))
rbc_wins['endostates'] = rbc_wins['endo_states'].apply(lambda x: '   '.join(x.split('_')))
rbc_wins.drop(['exo_states', 'endo_states'], axis=1)
rbc_wins['index'] = list(range(1,rbc_wins.shape[0]+1))
rbc_wins = rbc_wins[['index', 'exostates', 'endostates', 'wins', 'valid']]

rbc_wins.to_csv('../text/latex/algo/files/rbc_wins.csv', index=False, quoting=csv.QUOTE_NONE, escapechar='\\')

In [47]:
1 + 18 + 144 + 672

835

In [49]:
rbc_wins

   index exostates endostates  wins  valid
0      1     g   z          k   888    997
1      2     c   l          k   109    109
2      3     g   r          k     2    941
3      4     g   w          k     1    986
4      5     g   y          k     0    974
5      6     g   i          k     0    996
6      7     c   g          k     0    200
7      8     g   l          k     0      4

In [16]:
rbc_wins

  exo_states endo_states  wins  valid
0     (g, z)        (k,)   888    997
1     (c, l)        (k,)   109    109
2     (g, r)        (k,)     2    941
3     (g, w)        (k,)     1    986
4     (g, y)        (k,)     0    974
5     (g, i)        (k,)     0    996
6     (c, g)        (k,)     0    200
7     (g, l)        (k,)     0      4